.listItemText {
    color: #bdbdbd;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
    padding-left: inherit;
}

.listItem:hover {
    background-color: rgb(176, 176, 176);
    color: white;
    border-radius: 2px;

}

.listItemTitle {
    color: #ebebeb;
}

.listItem {
    cursor: pointer;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    margin-left: 10px;
    width: 80% !important;
}