.container {
    justify-content: space-around;
    margin-top: 16px;
}

h1 {
    color: black;
}

.item {
    display: flex;
    justify-content: space-between;
}

.chatName {
    display: flex;
    justify-content: left;
}